html,
body {
    margin: 0;
    padding: 0;

    background-color: rgb(36, 36, 36);

    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap");
    font-family: "Open Sans", "Roboto", sans-serif;
    /* font-size: 10px; */
}
